@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Carter One', cursive;
}

.p-dialog {
  border-radius: 6px;
  box-shadow: 1px 0px 18px 4px rgba(0, 0, 0, 0.3) !important;
  border: 0 none;
}
