
<div class="card">
  <section class="areaFotoPerfil">
    <div class="foto">
      <img src="../assets/backFotoPerfil.svg" alt="Background da foto de perfil">

    </div>
    <div class="nome">
      <p>JAILTON MENDES</p>
    </div>
  </section>

  <section class="areaMenu">
    <div class="opcoesMenu">
      <div class="itensMenu">
        <button class="itemMenu" (click)="teste()">Projetos</button>
        <button class="itemMenu">Blog</button>
        <button class="itemMenu">Contato</button>
      </div>
    </div>
    <div class="profissao">
      <p>DESENVOLVEDOR</p>
      <p>FRONT-END</p>
    </div>
    <div class="links">
        <!-- <p-button styleClass="p-button-rounded" >GitHub</p-button>
        <p-button styleClass="p-button-rounded" >Linkdin</p-button> -->
        <p-button icon="pi pi-linkedin" styleClass="p-button-rounded p-button-info"></p-button>
<p-button icon="pi pi-github" styleClass="p-button-rounded p-button-secondary"></p-button>
    </div>
  </section>
</div>
