.card {
  width: 100%;
  display: flex;
  background-color: rgb(7, 148, 148);
}

.areaFotoPerfil {
  width: 40%;
  height: 600px;
  background-color: coral;
}

.areaMenu {
  width: 60%;
  height: 600px;
  background-color: rgb(37, 124, 48);
}

