.areaBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1100px;
  background-color: rgb(128, 17, 109);
}

.perfil, .projetos {
  max-height: 100%;
  flex: 1;
}

.perfil {
  background-color: aqua;
}

.projetos {
  // flex: 2;
  background-color: rgb(168, 126, 10);
}




