<div class="areaBody">

  <section class="perfil">
    <div class="labelPerfil"><p>PERFIL</div>
    <div class="areaTexto">
      <h4>Sou um desenvolvedor front-end com habilidades em HTML, CSS, JavaScript e frameworks como Angular, Ionic e Flutter, bem como em PHP, Node.js e banco de dados para aplicações web e móveis. Também possuo habilidades em design de interfaces de usuário e integração de APIs e serviços. Com minha paixão por desafios e inovação, estou sempre buscando novas maneiras de aprimorar minhas habilidades e posso criar soluções de software eficazes e intuitivas para qualquer projeto. Estou ansioso para continuar aprendendo e crescendo em minha carreira de desenvolvimento de software.</h4>
    </div>
    <div class="divider">
      <hr class="linha-divisao">
    </div>

  </section>

  <section class="projetos">

    <div class="labelPerfilRight">
      <p>PROJETOS
    </div>
    <!-- Cards Projeto -->
    <div class="areaProjetos">
      <div *ngFor="let projeto of listaProjetosHome" class="projeto" (click)="abrirModal(projeto)">
        <img src="{{projeto.img}}" alt="">
        <div class="tituloProjeto">
          <p>{{ projeto.titulo}}</p>
        </div>
      </div>
    </div>
    <div class="verMais">
      <button (click)="projetos()">Ver mais</button>
    </div>
  </section>

</div>

<!--Popup | Modal -->
<app-modal
  [visible]="visible"
  [modalWidth]="modalWidth"
  [titulo]="titulo"
  [descricaoProjeto]="descricaoProjeto"
  [idCard]="idCard"
  [tags]="tags"
  [link]="link"
  [nomeBotao]="nomeBotao"
></app-modal>


<p-dialog [header]="titulo" [(visible)]="leiaMais" [style]="{width: modalWidth}" >
  <p class="descricaoProjeto">
    "Você encontrou uma página em construção! Não se preocupe, é só o meu jeito de dizer que ainda estou trabalhando duro para deixá-la incrível. Fique à vontade para voltar mais tarde e conferir o resultado final!"
  </p>
  </p-dialog>
