<section class="menu">
  <div class="opcoesMenu">
    <div class="itensMenu">
      <button class="itemMenu" >Projetos</button>
      <button class="itemMenu" >Blog</button>
      <button class="itemMenu">Contato</button>
    </div>
  </div>
  <!-- <div class="profissao">
    <p>DESENVOLVEDOR</p>
    <p>FRONT-END</p>
  </div>
  <div class="links">
      <p-button icon="pi pi-linkedin" styleClass="p-button-rounded p-button-info"></p-button>
      <p-button icon="pi pi-github" styleClass="p-button-rounded p-button-secondary"></p-button>
  </div> -->
</section>
