
<div class="areaProjetos">
<div class="menu">
  <button class="voltar" (click)="voltar()">
    <i class="pi pi-arrow-left" style="font-size: 2rem"></i>
  </button>

  <app-menu-component></app-menu-component>
</div>

<div class="titulo">
  <span>Projetos</span>
</div>

<div class="filtro">
  <div class="itensFiltro">
    <button class="itemFiltro">Front-end</button>
    <!-- <button class="itemFiltro">Design</button> -->
    <button class="itemFiltro">Backend</button>
  </div>
</div>

<section class="areaCard">

<div class="card projeto" *ngFor="let projeto of listaProjetosHome" class="projeto" (click)="abrirModal(projeto)">
  <img [src]="projeto.img" alt="">
  <div class="tituloProjeto">
    <p>{{ projeto.titulo }}</p>
  </div>
</div>

</section>

</div>


<app-modal
[visible]="visible"
[modalWidth]="modalWidth"
[titulo]="titulo"
[descricaoProjeto]="descricaoProjeto"
[idCard]="idCard"
[tags]="tags"
[link]="link"
[nomeBotao]="nomeBotao"
(modalClose)="onModalClose($event)"
></app-modal>
