<div class="areaFooter">
  <footer>
    <div class="infor">
      <p>Telefone - Zap</p>
      <p>(81) 9 8854-4790 </p>
      <p>jailtonmendes.silva@gmail.com</p>
    </div>

    <hr class="divider">

    <div class="infor">
      <div class="sub-infor">
      <div class="item-sub-infor">
        <p>Tecnologias:</p>
        <span>Angular</span>
        <span>TypeScript</span>
        <span>CSS</span>
      </div>
      <div class="item-sub-infor">
        <span>Ionic</span>
        <span>Flutter</span>
        <span>PHP</span>
        <span>Node</span>
      </div>
      <!-- <div class="item-sub-infor">
        <p>Links:</p>
        <span>Blog</span>
        <span>Linkdin</span>
        <span>GitHub</span>
      </div> -->
     </div>

     <hr class="divider">

    </div>
    <div class="infor">
      <p class="frase"> “ Transformando ideias em realidade digital. “</p>
      <!-- <p>(81) 9 8854-4790 </p> -->
    </div>
  </footer>
</div>
